/* 
	Table of Contents

	I.       Generic -----------------------------------------
	II.      Sections ----------------------------------------
	III.     Navigation --------------------------------------
  IV.      Section - Hosting -------------------------------
  V.       Section - Service -------------------------------
  VI.      Section - Check Domain --------------------------
  VII.     Section - Promotion -----------------------------
  VIII.    Section - Service Overview ----------------------
  IX.      Section - Fan Facts -----------------------------
  X.       Section - Frequently Ask Questions --------------
	XI.      Section - Subscribe -----------------------------
	XII.     Section - Blog ----------------------------------
	XIII.    Section - Quote ---------------------------------
  XIV.     Section - Map -----------------------------------
  XV.      Section - Contact Us ----------------------------
	XVI.     Footer ------------------------------------------
  XVII.    Fonts - Fontello --------------------------------
  
 */


/* ============================================================ *\
	I.  Generic
\* ============================================================ */

*,
*:before,
*:after { outline: 0; padding: 0; margin: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/* Base */
body { font-family:'Raleway',sans-serif; font-weight:  400; min-width: 320px; background: #eff3f3; background: cover; background-size: 100% 100%;  color: #fff; overflow-x: hidden; }

a { color: inherit; text-decoration: none; text-align: center; }

h3 { font-size: 30px; line-height: 22px; font-weight: 700; color: #363635; text-align: center; }

h3 span { font-weight: 100; }

p { font-size: 14px; line-height: 24px; max-width: 835px; color: #646464; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 400; }

@media screen and (max-width: 1024px) { 

}
@media screen and (max-width: 768px) { 
  h3 { font-size: 25px; }
  p { max-width: 635px; }
}
@media screen and (max-width: 425px) { 
  h3 { font-size: 20px; }
  p { font-size: 12px; max-width: 335px; }
  .hr { display: flex; align-items: center; margin: 20px 0 21px 0; }
}

.hr { display: flex; align-items: center; margin: 30px 0 31px 0; }

.hr_content { width: 97px; height: 1px; background: #ffc0a5; }

.hr_points { width: 6px; height: 6px; border-radius: 50%; background: #ffc0a5; }

.btn { width: 160px; height: 50px; font-size: 14px; line-height: 24px; font-family: 'Open Sans', sans-serif; font-weight: 400; background: #000000; transition: all 0.3s ease; text-transform: uppercase; color: #ffffff; display: flex; justify-content: center; align-items: center; border-radius: 50px; z-index: 30; }

.btn:hover { transform: scale(1.1); }

.images { width: auto; height: auto; background-position: center; background-repeat: none; background-size: cover; pointer-events: none;}

.responsive { width: 100%; height: auto; }

/* Flex */

.flex_row { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; list-style: none; }

.flex_column { display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap; list-style: none; }

/* Wrapper */
.wrapper { min-height: 100vh; }

/* Grid */
.cols { display: flex; flex-wrap: wrap; list-style: none; }
.col { width: 100%; }
.col--1of2 { width: 50%; }
.col--1of3 { width: 33.33333%; }
.col--1of4 { width: 25%; }

/* ============================================================ *\
	II.  Sections
\* ============================================================ */

/* Sections */
.section { background: #ffffff; z-index: 3; }

.section_gradient { background: linear-gradient(135deg, rgba(255,175,189,1) 0%, rgba(255,195,160,1) 100%); z-index: 3; }

.section_gradient_reverse { background: linear-gradient(135deg, rgba(255,195,160,1) 0%, rgba(255,175,189,1) 80%, rgba(255,175,189,1) 100%); z-index: 3; }

/* ============================================================ *\
	III.  Navigation
\* ============================================================ */

/* Navigation Menu */
.nav { padding: 73px 0 99px 0; }

.nav li {  margin: 0 10px; }

.nav li:first-child { margin-left: 0; }
.nav li:last-child { margin-right: 0; }

.nav li a { color: #ffffff; text-transform: uppercase; font-size: 12px; font-weight: 700; font-family: 'Open Sans', sans-serif; transition: all 0.3s ease; padding: 15px 19px; border-radius: 50px; }

.nav_list { opacity: 0; transition: .4s ease-in-out; }

.nav_list.active { opacity: 1; }

.nav li a:hover { background: #363635; color: #ffffff; }
.nav li a:focus,
.nav li a:active { background: #363635; color: #ffffff; }

.nav .current { background: #363635; color: #ffffff; }

.hamburger { position: relative; width: 17px; height: 13px; margin-left: 34px; }

.hamburger div { display: block; opacity: 1; background: #ffffff; width: 100%; height: 3px; position: absolute; transform: rotate(0deg); transition: .4s ease-in-out; }
.hamburger div:nth-child(1) { top: 0; }
.hamburger div:nth-child(2) { top: 5px; }
.hamburger div:nth-child(3) { top: 10px; }
.hamburger.open div:nth-child(1) { top: 9px; -webkit-transform: rotate(135deg); transform: rotate(135deg); }
.hamburger.open div:nth-child(2) { opacity: 0; }
.hamburger.open div:nth-child(3) { top: 9px; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }

.nav .logo { width: 177px; height: 25px; }
.nav_logo  { margin-right: 372px; margin-left: 30px; }

@media screen and (max-width: 1024px) { 
  .nav_logo  { margin-right: 190px; margin-left: 0; }

}
@media screen and (max-width: 768px) { 
  .nav { padding-top: 30px; padding-bottom: 50px; }
  .nav_logo { margin-right: 50px; }
  .nav .nav_list li {  margin: 0 5px; }
  .nav li a { padding: 10px 15px; font-size: 10px; }
  .hamburger { margin-left: 17px; }
}
@media screen and (max-width: 425px) { 
  .nav { padding-top: 10px; padding-bottom: 20px; }
  .nav_logo  { margin-right: 45px; }
  .nav .nav_list { position: relative; top: 100px; margin-top: -140px; margin-left: -200px; }
  .nav .nav_list li {  margin: 0 0 15px 0; }
  .nav li a { font-size: 8px; }
  .hamburger { margin-left: 10px; }
  .nav .nav_logo .logo { width: 80%; }
}

/* ============================================================ *\
	IV.  Section - Hosting
\* ============================================================ */

/* Hosting */
.hosting { align-items: flex-start; }

.hosting_title { align-items: flex-start; }

.hosting_content { align-items: flex-start; }

.hosting_left { margin-right: 93px; margin-top: 50px; margin-left: 60px; }

.hosting_title h1 { font-size: 55px; font-weight: 700; line-height: 55px; color: #ffffff; margin-bottom: 30px; }

.hosting_title h1 span {  font-weight: 100; }

.hosting_title .span,
.hosting_title .span div span { font-size: 32px; font-weight: 100; color: #ffffff; margin-bottom: 52px; }

.hosting_title .span div { font-weight: 700; margin-left: 10px; }

.hosting_title .span div:last-of-type { color: #ffffff;font-weight: 100; font-size: 20px;  margin-left: -5px; margin-top: 7px; }

.hosting_content .content { margin-bottom: 51px; }

.hosting_content ul { align-items: flex-start; margin-right: 45px; }

.hosting_content li { font-size: 14px; line-height: 30px; font-family: 'Open Sans', sans-serif; color: #ffffff; display: inline-block; }

.hosting_content li .img {display: inline-block; margin-right: 9px;  width: 16px; height: 15px; }

.hosting_content a { font-size: 14px; line-height: 22px; font-weight: 700; border: 2px solid #ffffff; color: #ffffff; width: 180px; height: 50px; background: none; border-radius: 50px; }

.hosting_content a:first-of-type { margin-right: 10px;}

.hosting_content a:hover { background: #ffffff; color: #ffbcaa; }
.hosting_content a:focus,
.hosting_content a:active { background: #ffffff; color: #ffbcaa; }

.offert { width: 160px; height: 160px; }

.hosting_right { margin-bottom: 22px; }


.shape_triangle_left { width: 0; height: 0; border-top: 98px solid transparent; border-left: 1483px solid #ffffff; border-bottom: 0px solid transparent; }

.shape_triangle_right { width: 0; height: 0; border-top: 58px solid transparent; border-right: 420px solid #ffffff; border-bottom: 0px solid transparent; margin-top: 40px; }

@media screen and (max-width: 1024px) { 
  .hosting_left { margin-right: 80px; margin-top: 20px; margin-left: 0;}
  .hosting_title h1 { font-size: 42px; margin-bottom: 20px; }
  .hosting_title .span { font-size: 22px; margin-bottom: 32px; }
  .hosting_title .span div:last-of-type { font-size: 12px; }
  .hosting_right { width: 45%; }
  .hosting_content .content { margin-bottom: 40px; }
  .hosting_content ul { align-items: flex-start; margin-right: 25px; margin-left: -20px; }
  .hosting_content li  { font-size: 12px; }
  .hosting_content a  { width: 160px; height: 40px; font-size: 12px; }
  .offert { width: 35%; }
  .shape_triangle_left  { border-top: 78px solid transparent; border-left: 924px solid #ffffff; }
  .shape_triangle_right { border-top: 38px solid transparent; border-right: 100px solid #ffffff; }
}
@media screen and (max-width: 768px) { 
  .hosting_left { margin-right: 40px; margin-top: 10px; }
  .hosting_title h1 { font-size: 32px; margin-bottom: 10px;}
  .hosting_title .span { font-size: 18px; margin-bottom: 22px; }
  .hosting_title .span div:last-of-type { font-size: 8px; }
  .hosting_content ul { align-items: flex-start; margin-right: 15px; margin-left: -25px; }
  .hosting_content li  { font-size: 10px; }
  .hosting_content a  { width: 140px; height: 40px; font-size: 10px; }
  .hosting_content .content { margin-bottom: 20px; }
  .shape_triangle_left  { border-top: 58px solid transparent; border-left: 668px solid #ffffff; margin-top: 10px;}
  .shape_triangle_right { border-top: 28px solid transparent; border-right: 100px solid #ffffff; }
}
@media screen and (max-width: 425px) { 
  .hosting_left { margin-right: 0; margin-top: 0; }
  .hosting_right { margin-top: 20px; width: 50%; }
  .shape_triangle_left  { border-top: 38px solid transparent; border-left: 325px solid #ffffff;  margin-top: 20px; }
  .shape_triangle_right { border-top: 18px solid transparent; border-right: 100px solid #ffffff; }
}

/* ============================================================ *\
	V.  Section - Service
\* ============================================================ */

/* Service */
.service_content { max-width: 1200px;}

.advantage { align-items: flex-start; }

.advantage_content { align-items: flex-start; margin-bottom: 70px; }

.service_title h3 { margin-top: 107px; }

.service_title p { margin-bottom: 89px; }

.service_content img { margin-right: 20px; width: 80%; }

.advantage_content h4 { font-size: 20px; line-height: 18px; font-weight: 600; color:#363635; margin-bottom: 15px; }

.advantage_content h4 span { font-weight: 200; }

.advantage_content .hr { margin: 0; }

.advantage_content .hr_content { width: 50px; }

.advantage_content p { font-size: 13px; line-height: 22px; max-width: 280px; text-align: start; margin-top: 11.5px; }

@media screen and (max-width: 1024px) { 
  .service_title h3 { margin-top: 87px; }
  .service_title p { margin-bottom: 69px; }
  .advantage_content p { max-width: 255px; }
  .service_content img { width: 70%; }
}
@media screen and (max-width: 768px) { 
  .advantage { width: 100%; }
  .advantage_content { margin-bottom: 40px; }
  .advantage_content p { max-width: 660px; }
  
}
@media screen and (max-width: 425px) { 
  .advantage_content h4 { font-size: 15px; }
  .advantage_content p { font-size: 11px; max-width: 310px; }
}

/* ============================================================ *\
	VI.  Section - Check Domain
\* ============================================================ */

/* Check Domain */
.plans { margin-top: 100px; }

.plan { width: 350px; height: 520px; border-radius: 6px; background: linear-gradient(135deg, rgba(251,194,235,1) 0%, rgba(251,194,235,1) 30%, rgba(166,193,238,1) 100%) }

.plan:nth-child(2) { margin: 0 30px; background: linear-gradient(135deg, rgba(253,219,146,1) 0%, rgba(253,219,146,1) 30%, rgba(189,244,246,1) 100%); }
.plan:nth-child(3) { background: linear-gradient(135deg, rgba(252,182,159,1) 0%, rgba(252,182,159,1) 30%, rgba(255,236,210,1) 100%); }

.plan_title { flex-direction: row; margin-bottom: 46px; }

.plan_title h4 { font-size: 24px; line-height: 22px; font-weight: 700; margin-right: 40px; }

.plan_title h4 span { font-weight: 100; }

.plan_title div { width: 120px; height: 50px; background: #414149; display: flex; justify-content: center; align-items: center; border-radius: 3px; }

.plan_title .dolar { font-size: 18px; line-height: 22px; font-family: 'Roboto', sans-serif; font-weight: 400; color: #ffffff; }

.plan_title .month { font-size: 12px; font-weight: 400; color: #ffffff; line-height: normal; }

.plan_title .number { font-size: 34px; line-height: 22px; font-weight: 600; color: #ffffff; margin: 0 2px 12px 4px; }

.plan .images { margin-bottom: 45px; }

.plan ul { margin-bottom: 25px; list-style: none;  }

.plan li { width: 316px; height: 35px; font-size: 13px; line-height: 35px; font-family: 'Open Sans', sans-serif; text-align: center; color: #333333; background: #ffffff; }

.plan li:first-child { border-radius: 2px 2px 0 0; }
.plan li:last-child { border-radius: 0 0 2px 2px; }

.plan_wh li:nth-child(odd) { opacity: 0.45; }
.plan_wh li:nth-child(even) { opacity: 0.65; }

.plan_vpss li:nth-child(odd) { opacity: 0.45; }
.plan_vpss li:nth-child(even) { opacity: 0.65; }

.plan_cs li:nth-child(odd) { opacity: 0.45; }
.plan_cs li:nth-child(even) { opacity: 0.65; }

.plan a { width: 200px; height: 45px; background: #ffffff; color: #333333; font-size: 13px; font-weight: 700; }

.search { width: 1110px; height: 140px; background: #ffc3a0; border-radius: 4px; margin: 82px 0 43px -76px; }

.search input[type="text"] { width: 1013px;  height: 69px; border: 1px solid #ffffff; border-radius: 4px; background: #ffc3a0; font-weight: 700; font-size: 18px; line-height: 22px; color: #ffffff; padding-left: 20px; }

.search input[type="text"]::placeholder { color: #ffffff; }

.icon_search { position: relative; right: 100px; top: 20px; margin-right: -100px; }

.choice { margin-bottom: 44px; }

.choice li { width: 60px; height: 70px; background: linear-gradient(180deg, rgba(253,160,133,1) 0%, rgba(253,160,133,1) 20%, rgba(246,209,103,1) 100%); margin-right: 10px; border-radius: 3px; }

.choice li:last-of-type {  margin-right: 0; }

.choice input[type="checkbox"] { width: 10px; height: 10px; margin: 10px 0 5px 0; }

.choice label { height: 100%; font-size: 13px; line-height: 18px; font-weight: 600; cursor: pointer; }

.choice .dolar { font-size: 12px; line-height: 18px; font-family: 'Roboto', sans-serif; font-weight: 700; }

.choice .number { font-family: 'Open Sans', sans-serif; font-weight: 400; }

.result { margin-bottom: 73px; }

.result .free,
.result .busy { width: 255px; height: 230px; background: linear-gradient(180deg, rgba(250,237,151,1) 0%, rgba(250,237,151,1) 20%, rgba(173,236,212,1) 100%); margin-right: 30px; border-radius: 3px; text-align: center; }

.result div { width: 39px; height: 39px; border-radius: 50%; background: #ffffff; color: #a9d06a; margin: 17px 0 18px 0; }

.result div i { font-size: 22px; }
.result .busy i { color: #ff6162; }

.result h6 { font-size: 18px; line-height: 18px; font-family: 'Open Sans', sans-serif; font-weight: 400;  margin-bottom: 17px; color: #333333; }

.result h6 span { font-weight: 700; }

.result p { color: #2f3f50; font-family:'Raleway',sans-serif; font-size: 14px; line-height: 18px; font-weight: 300; }

.result p:last-of-type { font-weight: 600; margin-bottom: 17px; }

.result a { width: 160px; height: 45px; border-radius: 50px; background: #ffffff; color: #a9d06a; display: flex; align-items: center; justify-content: center; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight: 700; margin-bottom: 23px; }

.result li:last-of-type{ margin-right: 0; }

@media screen and (max-width: 1024px) { 
  .plans { margin-top: 70px; }
  .plan  { width: 315px; height: 485px; }
  .plan_title h4 { margin-right: 30px; }
  .plan li { font-size: 12px; width: 271px;  }
  .plan .images { width: 80%; margin-bottom: 25px; }
  .search { width: 1024px; }
  .search input[type="text"] { width: 927px; }
  .choice li { width: 55px; height: 65px; margin-right: 9px; }
  .result .free,
  .result .busy { width: 240px; margin-right: 20px; }
  
}
@media screen and (max-width: 768px) { 
  .plans { flex-direction: column; margin-top: 50px; }
  .plan:nth-child(2) { margin: 30px 0; }
  .search { width: 758px; }
  .search input[type="text"] { width: 671px; }
  .choice { max-width: 600px; }
  .choice li { width: 60px; height: 70px;  margin-right: 10px; }
  .choice li:nth-child(8) { margin-right: 0; }
  .choice li:nth-child(n+9) { margin-top: 10px; }
  .result li:nth-child(n+3) { margin-top: 20px; }
  .result li:nth-child(2) { margin-right: 0; }
  .result .free,
  .result .busy { width: 255px; margin-right: 20px; }
}
@media screen and (max-width: 425px) { 
  .plans { flex-direction: column; margin-top: 30px; }
  .search { width: 415px; }
  .search input[type="text"] { width: 338px; }
  .choice { max-width: 415px; }
  .choice li { width: 60px; height: 70px;  margin-right: 10px; }
  .choice li:nth-child(8) { margin-right: 10px; }
  .choice li:nth-child(11) { margin-right: 0; }
  .choice li:nth-child(n+6) { margin-top: 10px; }
  .result li { margin: 10px 0 10px 0; }
  .result li:nth-child(n+3) { margin-top: 10px; }
  .result .free,
  .result .busy { width: 255px; margin-right: 0; }
}

/* ============================================================ *\
	VII.  Section - Promotion
\* ============================================================ */

/* Promo */
.promo_content { margin-bottom: 76px; margin-top: 96px;  min-height: 830px; }

.promo_offert,
.promo_title { position: relative; }

.promo_title h3 { margin: 0 0 15px 0; }

.promo_title p { margin-bottom: 52px; }

.promo_title .nav_main_promo { margin-bottom: 0; }

.promo_title .nav_main_promo a { font-size: 14px; line-height: 24px; font-weight: 600;  height: 50px; padding: 0 43px; border: 1px solid #dadbdb;  background: #ffffff; color: #555555;  display: flex; justify-content: center; align-items: center; }

.promo_title .nav_main_promo li:first-child a { border-left: 1px solid #dadbdb; border-right: 0.5px solid #dadbdb; border-radius: 50px 0 0 50px; padding-left: 43px; }

.promo_title .nav_main_promo li:last-child a { border-left: 0.5px solid #dadbdb; border-radius: 0 50px 50px 0; padding-right: 58px; }

.promo_title .nav_main_promo a:hover {  box-shadow: inset 0px 10px 20px -15px #000; }

.promo_title .nav_main_promo a:focus,
.promo_title .nav_main_promo a:active {  box-shadow: inset 0px 10px 20px -15px #000; }

.promo_title .nav_main_promo li:first-child a:hover,
.promo_title .nav_main_promo li:first-child a:focus,
.promo_title .nav_main_promo li:first-child a:active { border-left: 1px solid #dadbdb; }

.promo_title .nav_main_promo li:last-child a:hover,
.promo_title .nav_main_promo li:last-child a:focus,
.promo_title .nav_main_promo li:last-child a:active { border-right: 1px solid #dadbdb; }

.promo_title .nav_main_promo .current {  box-shadow: inset 0px 10px 20px -15px #000; }

.promo_offert_hover { border-radius: 6px 6px 6px 6px; }

.price_title { width: 260px; height: 250px; color: #ffffff; border-radius: 6px 6px 0 0; padding-bottom: 40px; transition: all 0.5s ease-in-out; }

.price_title,
.promo_one .btn { background: linear-gradient(135deg, rgba(251,194,235,1) 0%, rgba(251,194,235,1) 20%, rgba(166,193,238,1) 100%); }
.promo_two .price_title,
.promo_two .btn { background: linear-gradient(135deg, rgba(253,219,146,1) 0%, rgba(253,219,146,1) 20%, rgba(188,243,245,1) 100%); }
.promo_three .price_title,
.promo_three .btn { background: linear-gradient(180deg, rgba(194,229,156,1) 0%, rgba(194,229,156,1) 20%, rgba(100,179,244,1) 100%); }
.promo_four .price_title,
.promo_four .btn { background: linear-gradient(135deg, rgba(251,181,158,1) 0%, rgba(251,181,158,1) 20%, rgba(255,236,210,1) 100%); }

.ribbon { width: 80px; height: 80px; overflow: hidden; position: absolute; top: 0; left: 0; margin-bottom: -79px; opacity: 0; transition: opacity 0.5s ease-in-out; }

.ribbon span { position: absolute; width: 200px; padding: 5px 0; background-color: #333333; color: #fff; font-size: 13px; line-height: 18px; text-align: center; font-family: 'Lato', sans-serif; }

.ribbon-top-left span { right: -50px; top: 15px; transform: rotate(-45deg); }

.promo_offert_hover:hover .ribbon { opacity: 1; }

.promo_offert:hover .promo_offert_hover { box-shadow: 0 0px 15px #000000; }

.promo_offert_hover:hover .price_title { height: 330px; }
.promo_offert_hover:hover .price_title .price_title_content { transform: scale(1.2); }
.promo_offert_hover:hover .price_content { height: 500px;  }
.promo_one:hover .images { bottom: 90px; }
.promo_two:hover .images { bottom: 96px; }
.promo_three:hover .images { bottom: 110px; }
.promo_four:hover .images { bottom: 99px; }

.promo_two { margin: 0 15px 0 30px; }
.promo_three { margin: 0 30px 0 15px; }

.promo_one .images { position: relative; bottom: 125px; left: 203px; margin-left: -131px; z-index: 20; transition: bottom 0.5s ease-in-out; }
.promo_two .images { position: relative; bottom: 131px; left: 185px; margin-left: -119px; z-index: 20; transition: bottom 0.5s ease-in-out; }
.promo_three .images { position: relative; bottom: 145px; left: 239px; margin-left: -216px; z-index: 20; transition: bottom 0.5s ease-in-out; }
.promo_four .images { position: relative; bottom: 134px; left: 228px; margin-left: -185px; z-index: 20; transition: bottom 0.5s ease-in-out; }

.price_title_content { transition: transform 0.5s ease-in-out; }

.price_title h5 { font-size: 18px; line-height: 18px; font-weight: 600; transition: all 0.5s ease-in-out; }

.price_title .price { font-size: 72px; line-height: 18px; font-family:'Open Sans',sans-serif; font-weight: 700; margin: 44px 0 37px 0;  display: flex; transition: all 0.5s ease-in-out; }

.price_title .price span { font-family:'Roboto',sans-serif; font-weight: 900; font-size: 24px; line-height: 18px; transition: all 0.5s ease-in-out; }

.price_title span { font-size: 13px; line-height: 18px; transition: all 0.5s ease-in-out; }

.price_content { width: 260px; height: 490px; border-radius: 0 0 6px 6px; background: #ffffff; transition: all 0.5s ease-in-out; }

.price_content ul { list-style: none; text-align: center; margin-bottom: 20px; margin-top: 36px; width: 100%; }

.price_content li {  font-size: 13px;  line-height: 30px; color: #4c4c4c; font-family:'Open Sans',sans-serif; }

.price_content .btn { font-size: 14px; line-height: 22px; color: #ffffff; }

@media screen and (max-width: 1024px) { 
  .price_title,
  .price_content { width: 240px; }
  .promo_offert .responsive { width: 90%; }
  .promo_two { margin: 0 8px 0 16px; }
  .promo_three { margin: 0 16px 0 8px; }
}
@media screen and (max-width: 768px) { 
  .promo_content { max-width: 758px; margin-bottom: 103px; margin-top: 81px;}
  .promo_two { margin: 0 0 0 20px; }
  .promo_three { margin: 20px 20px 0 0; }
  .promo_four { margin: 20px 0 0 0; }
}
@media screen and (max-width: 425px) { 
  .promo_title .nav_main_promo { flex-direction: column; }
  .promo_title .nav_main_promo li { margin-bottom: 5px; }
  .promo_title .nav_main_promo a { font-size: 12px; width: 200px; border-radius: 50px; }
  .promo_title .nav_main_promo li:first-child a { border-left: 1px solid #dadbdb; border-right: 0.5px solid #dadbdb; border-radius: 50px; padding: 0 43px; }
  .promo_title .nav_main_promo li:last-child a { border-left: 0.5px solid #dadbdb; border-radius: 50px; padding: 0 43px;}
  .promo_content { margin-bottom: 83px; margin-top: 61px; }
  .promo_two { margin: 20px 0 10px 0; }
  .promo_three { margin: 10px 0 20px 0; }
}

/* ============================================================ *\
	VIII.  Section - Service Overview
\* ============================================================ */

/* Service Overview */
.service_overview h3 { color: #ffffff; margin-top: 115px; }

.service_overview .hr_content,
.service_overview .hr_points { background: #ffffff; }

.service_overview_title p { color: #ffffff; margin-bottom: 58px; opacity: 0.77; }

.toggle_nav { flex-direction: row; margin-bottom: 62px; position: relative; }

.toggle_button,
.nav_main a { font-size: 14px; line-height: 24px; font-weight: 600; padding: 0 19px; height: 50px; color: #363635; background: #ffffff; border-left: 1px solid #ffb9ae; display: flex; justify-content: center; align-items: center; }

.toggle_button { width: 200px; display: none; border-radius: 50px; border: 1px solid #ffffff; color: #ffb8b0; font-weight: 700; text-transform: uppercase; }

.nav_main a span { font-weight: 100; margin-left: 3px; }

.nav_main li:first-child a { border-left: 1px solid #ffffff; border-radius: 50px 0 0 50px; padding-left: 28px; }

.nav_main li:last-child a { border-right: 1px solid #ffffff; border-radius: 0 50px 50px 0; padding-right: 28px; }

.nav_main a:hover { border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff;  background: #f6d2cd; }

.nav_main a:focus,
.nav_main a:active { border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff;  background: #f6d2cd; }

.nav_main .current { border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff;  background: #f6d2cd; }

.service_overview_content h4 { font-size: 20px; line-height: 24px; font-weight: 700; margin-bottom: 29px; }

.service_overview_content p { font-size: 15px; line-height: 22px; color: #ffffff; opacity: 0.77; margin-bottom: 42px;font-family:'Raleway',sans-serif; font-weight: 500; max-width: 830px; }

.service_overview_content p:last-of-type { font-size: 13px; line-height: 22px; color: #ffffff; opacity: 0.73; max-width: 1060px; margin-bottom: 44px; }

.service_overview_content .btn { background: #ffffff; color: #ffb8b0; font-weight: 700;  }

.service_overview_content .images { position: relative; top: 97px; margin-top: -33px; }

@media screen and (max-width: 1024px) { 
  .nav_main a { font-size: 12px; }
}
@media screen and (max-width: 768px) {
  .toggle_button { display: flex; }
  .nav_main { flex-direction: column; position: absolute; top: 100%; display: none; text-align: center; opacity: 1; z-index: 20; }
  .nav_main li { margin-bottom: 10px; }
  .nav_main li:first-of-type { margin-top: 10px; }
  .nav_main li:last-of-type { margin-bottom: 0; }
  .nav_main a  { font-size: 11px; width: 180px; border-radius: 50px; border: 1px solid #ffffff; height: 35px; opacity: 1; z-index: 20; }
  .nav_main a:hover { border: 1px solid #ffffff;  background: #f6d2cd; box-shadow: inset 0px 4px 20px -5px #000; }
  .nav_main a:focus,.nav_main a:active { border: 1px solid ffffff;  background: #f6d2cd; box-shadow: inset 0px 4px 20px -5px #000; }
  .nav_main .current { border: 1px solid #ffffff;  background: #f6d2cd; box-shadow: inset 0px 4px 20px -5px #000; }
  .nav_main li:first-child a { border-left: 1px solid #ffffff; border-radius: 50px; padding-left: 0; }
  .nav_main li:last-child a { border-right: 1px solid #ffffff; border-radius: 50px; padding-right: 0; }
  .service_overview_content p { padding: 0 5px; }
}
@media screen and (max-width: 425px) { 
  .service_overview h3 { margin-top: 75px; }
  .nav_main a { font-size: 11px;  }
  .service_overview_content h4 { font-size: 18px; }
  .service_overview_content p { padding: 0 5px; }
}

/* ============================================================ *\ 
	IX.  Section - Fan Facts
\* ============================================================ */

/* Fact */
.fact_content { flex-direction: row; }

.fact_title h3 {  margin: 213px 0 17px 0; }

.fact_title p { opacity: 0.65; margin-bottom: 39px; }

.fact_content ul { margin-bottom: 72px; }

.fact_content li { display: flex; justify-content: center; align-items: flex-start; margin-bottom: 57px; }

.fact_content li:last-child { margin-bottom: 0; }

.fact_content .numb { font-size: 36px; line-height: 18px; font-family: 'Open Sans', sans-serif; color: #f5bda0; font-weight: 700; margin-bottom: 13px; }

.fact_content .text { font-family: 'Open Sans', sans-serif; font-size: 13px; line-height: 18px; color: #646464; }

.fact_content_left .fact { margin-left: 15px; align-items: flex-start; width: 135px; }

.fact_content_right .fact { margin-right: 15px; align-items: flex-end; width: 135px; }

.fact_content_centre { position: relative; top: 40px;  margin-bottom: -40px; }

@media screen and (max-width: 1024px) { 
  .fact_content .numb { font-size: 30px; }
  .fact_content .text { font-size: 11px; }
  .fact_content_centre { width: 64%; margin: 0 -20px; }
}
@media screen and (max-width: 768px) { 
  .fact_content li { margin-bottom: 30px; }
  .fact_content .numb { font-size: 25px; margin-bottom: 10px; }
  .fact_content .text { font-size: 10px; }
  .fact_content_left .images,
  .fact_content_right .images { width: 20%; }
  .fact_content_centre { width: 56%; margin: 0 -30px; top: 10px; margin-bottom: -10px; }
  .fact_content ul { margin-bottom: 42px; }
}
@media screen and (max-width: 425px) { 
  .fact_content li { margin-bottom: 20px; }
  .fact_content .numb { font-size: 20px; margin-bottom: 5px; }
  .fact_content .text { font-size: 10px; }
  .fact_content_left .images,
  .fact_content_right .images { width: 15%; }
  .fact_content_centre { display: none; }
  .fact_content ul { margin-bottom: 12px; }
}

/* ============================================================ *\
	X.  Section - Frequently Ask Questions
\* ============================================================ */

/* FAQ */
.faq_content { margin: 65px 0 94px 0;  min-height: 550px; }

.faq_title h3 { margin: 164px 0 15px 0; }

.faq_bottom h3 { margin-top: 0; }

.faq_content ul:first-child { margin-right: 30px; }

.menu-list { padding-left: 0; display: block; width: 100%; max-width: 540px; color: #ffffff; border-radius: 3px 3px 0 0; }

.menu-list li.accordion-toggle { padding: 14px 25px 14px 25px; border-radius: 3px; background: #ffffff; color: #555555; border: 1px solid #d6d6d6; font-size: 14px; line-height: 22px; font-family: 'Open Sans', sans-serif; font-weight: 600; list-style: none; margin-bottom: 10px; }

.accordion-toggle,
.accordion-content { cursor: pointer; position: relative; }

.accordion-content { display: none; font-size: 13px; line-height: 22px; background: #ffffff; color: #555555; border: 1px solid #d6d6d6; text-align: left; padding: 23px; margin-bottom: 10px; margin-top: -10px; }

.accordion-toggle a:before, 
.accordion-toggle a:after { content: ''; display: block; position: absolute; top: 50%; right: 30px; width: 12px; height: 2px; margin-top: -1px; background-color: #ffc0a5; transition: all 0.3s ease-out; }

.accordion-toggle a:before { -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); opacity: 1; z-index: 2; }

.menu-list-right li.accordion-toggle.active-tab,
.menu-list-left li.accordion-toggle.active-tab { background: #ffc0a5; color: #ffffff; border: none; transition: all 0.3s ease;  border-radius: 3px 3px 0 0; }

.accordion-toggle a.active:before { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); background: #ffffff !important; }

.accordion-toggle a.active:after { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); background: #ffffff !important; opacity: 0; }

.contact { margin: 42px 0 97px 0; }

.contact li:nth-child(1) { margin-right: 118px; }
.contact li:nth-child(2) { margin-right: 111px; }
.contact li:nth-child(3) { margin-right: 79px; }
.contact li:nth-child(4) { margin-right: 71px; }

.contact .images { margin-bottom: 41px; }
.contact li:nth-child(3) .images { margin-bottom: 22px; }
.contact li:nth-child(4) .images { margin-bottom: 42px; }
.contact li:nth-child(5) .images { margin-bottom: 35px; }

.contact a p { font-size: 14px; line-height: 24px; color: #ffc0a5; margin-bottom: 9px; }

.contact a span { font-size: 18px; line-height: 22px; font-family: 'Open Sans', sans-serif; font-weight: 700; color: #555555; text-align: center;}

@media screen and (max-width: 1024px) { 
  .menu-list { max-width: 490px; }
  .contact a p { font-size: 12px; line-height: 22px;}
  .contact a span { font-size: 14px; line-height: 20px; }
  .contact li:nth-child(1) { margin-right: 88px; }
  .contact li:nth-child(2) { margin-right: 91px; }
  .contact li:nth-child(3) { margin-right: 59px; }
  .contact li:nth-child(4) { margin-right: 51px; }
}
@media screen and (max-width: 768px) { 
  .faq_title h3 { margin: 104px 0 15px 0; }
  .faq_bottom h3 { margin-top: 0; }
  .faq_content ul:first-child { margin-right: 10px; }
  .menu-list { max-width: 370px; }
  .menu-list li.accordion-toggle { font-size: 12px; }
  .contact a p { font-size: 12px; line-height: 22px;}
  .contact a span { font-size: 14px; line-height: 20px; }
  .contact li:nth-child(1) { margin-right: 61px; }
  .contact li:nth-child(2) { margin-right: 61px; }
  .contact li:nth-child(3) { margin-right: 21px; }
  .contact li:nth-child(4) { margin-right: 21px; }
}
@media screen and (max-width: 425px) { 
  .faq_title h3 { margin: 64px 0 15px 0; }
  .faq_bottom h3 { margin-top: 0; }
  .faq_content ul:first-child { margin-right: 0;  margin-bottom: 10px; }
  .menu-list { max-width: 415px; }
  .accordion-content{ max-width: 415px; }
  .contact .flex_row { flex-direction: column; }
  .contact li { margin-bottom: 10px; }
  .contact li:nth-child(1) { margin-right: 0; }
  .contact li:nth-child(2) { margin-right: 0; }
  .contact li:nth-child(3) { margin-right: 0; }
  .contact li:nth-child(4) { margin-right: 0; }
  .contact a { flex-direction: row; }
  .contact a .flex_column { align-items: flex-end; }
  .contact .images .responsive { width: 70%; }
  .contact .images { margin-bottom: 0; margin-right: 120px; }
  .contact li:nth-child(3) .images { margin-bottom: 0; margin-right: 95px; }
  .contact li:nth-child(4) .images { margin-bottom: 0; margin-right: 97px; }
  .contact li:nth-child(5) .images { margin-bottom: 0; margin-right: 75px; }
}


/* ============================================================ *\
	XI.  Section - Subscribe
\* ============================================================ */

/* Subscribe */
.subscribe_title h2 { font-size: 60px; line-height: 22px; font-weight: 700; margin: 144px 0 55px 0; }

.subscribe_title h3 { font-size: 30px; line-height: 22px; font-weight: 300; color: #ffffff; margin-bottom: 86px; }

.subscribe_title h3 span { font-weight: 700; }

.subscribe_title form { width: 600px; height: 60px; border: 2px solid #ffffff; background: #ffffff; border-radius: 50px; }

.subscribe_title input[type="text"] { width: 508px; height: 56px; font-size: 20px; color: #ffffff; border: 0; border-radius: 50px; background: linear-gradient(135deg, rgba(255,186,173,1) 0%, rgba(255,182,179,1) 80%, rgba(255,182,179,1) 100%); text-align: center; }

.input_placeholder,
.input_check { position: relative; }

.input_placeholder input { margin-left: -31px; }

.input_placeholder .hide { display: none; }

.input_placeholder .placeholder { position: absolute; left: 5%; top: 30%; font-size: 14px; line-height: 22px; font-weight: 700; pointer-events: none; }

.input_placeholder .placeholder span { font-weight: 400; color: #ffffff; }

.input_check label { margin-left: 32px; }

.input_check label i { position: absolute; font-size: 30px; padding: 10px 20px; border-radius: 50px; background: #ffffff; color: #ffb6b3; cursor: pointer; }

.subscribe_content .images { position: relative; top: 62px; margin-top: -62px; }

@media screen and (max-width: 1024px) { 

}
@media screen and (max-width: 768px) { 
  .subscribe_title h2 { font-size: 50px; margin: 104px 0 45px 0; }
  .subscribe_title h3 { font-size: 20px; margin-bottom: 66px;}
  .subscribe_title form { width: 400px; height: 50px; }
  .subscribe_title input[type="text"] { width: 330px; height: 46px; font-size: 18px; }
  .input_placeholder .placeholder { left: -15px; font-size: 11px; }
  .input_check label i { font-size: 20px; padding: 10px 10px; }
  .input_placeholder input { margin-left: -19px; }
  .input_check label { margin-left: -14px; }
  .subscribe_content .images { top: 36px; margin-top: -36px; }
}
@media screen and (max-width: 425px) { 
  .subscribe_title h2 { font-size: 30px; margin: 54px 0 35px 0; }
  .subscribe_title h3 { font-size: 15px; margin-bottom: 36px;}
  .subscribe_title form { width: 300px; height: 40px; }
  .subscribe_title input[type="text"] { width: 250px; height: 36px; font-size: 18px; }
  .input_placeholder .placeholder { left: 25px; top: 0; max-width: 175px; font-size: 11px; line-height: 18px; text-align: center; }
  .input_check label i { font-size: 20px; padding: 5px 10px; }
  .input_placeholder input { margin-left: -10px; }
  .input_check label { margin-left: -10px; }
  .subscribe_content .images { top: 32px; margin-top: -32px; }
}

/* ============================================================ *\
	XII.  Section - Blog
\* ============================================================ */

/* Blog */
.blog_title h3 { margin-top: 149px;  }

.blog_title p { margin-bottom: 48px; }

.article { margin-right: 30px; }
.article:last-of-type { margin-right: 0; }

.article .images { background: #e4e4e4; width: 350px; height: 200px; margin-bottom: 13px; }

.article li { font-size: 11px; line-height: 20px; font-family: 'Open Sans', sans-serif; font-weight: 600; color: #999999; margin-right: 50px;  }

.article li:last-of-type { margin-right: 0; }

.article li i { font-size: 13px; color: #ffc0a5; }

.article_content span { font-size: 12px; color: #999999 }

.article_content h6 { font-size: 18px; line-height: 26px;  max-width: 350px; color: #363635; font-family: 'Open Sans', sans-serif; font-weight: 400; margin: 16px 0; }

.article_content p {  font-size: 13px; text-align: left; line-height: 22px; max-width: 350px; color: #646464; word-break: break-all; }

@media screen and (max-width: 1024px) { 
  .article { margin-right: 10px; }
  .article .images { width: 330px;  }
  .article li { margin-right: 43px;  }
  .article_content h6 { width: 330px; }
  .article_content p { width: 330px; }
}
@media screen and (max-width: 768px) { 
  .blog_content { flex-direction: column; }
  .article { margin-right: 0; margin-bottom: 10px; }
  .article:last-of-type { margin-bottom: 0; }
}
@media screen and (max-width: 425px) { 
  .blog_title h3 { margin-top: 109px;  }
  .article_content h6 { font-size: 16px; }
  .article_content p { font-size: 12px; }
}

/* ============================================================ *\
	XIII.  Section - Quote
\* ============================================================ */

/* Quote */
.quote_title h3 { margin-top: 98px; }

.quote_title p { margin-bottom: 66px; }

.quote_content { padding-bottom: 93px; }

.quote_items { margin-right: 95px; }

.quote_items:last-of-type { margin-right: 0; }

.quote_items .images { margin-bottom: 21px; }

.quote_items p { max-width: 310px; font-size: 14px; line-height: 22px; text-align: center; font-style: italic;  word-break: break-all; margin-bottom: 23px; }

.quote_items .flex_column { color: #555555; font-size: 16px; line-height: 22px;  align-items: flex-start; font-weight: 700; }

.quote_items .flex_column span { font-weight: 300; color: #ffc0a5; }

.quote_items .flex_row .images { width: 60px; height: 60px; background: #e4e4e4; border-radius: 50%; margin-bottom: 0; margin-right: 11px; }

@media screen and (max-width: 1024px) { 
  .quote_items { margin-right: 35px; }
}
@media screen and (max-width: 768px) { 
  .quote_content {flex-direction: column; }
  .quote_items { margin-right: 0; margin-bottom: 50px; }
  .quote_items:last-of-type { margin-bottom: 0; }
}
@media screen and (max-width: 425px) { 
  .quote_items p { font-size: 12px; }
  .quote_items .flex_column { font-size: 14px; }
}

/* ============================================================ *\
	XIV.  Section - Map
\* ============================================================ */

/* Map */
.map { width: 100%; height: 500px; }

/* ============================================================ *\
	XV.  Section - Contact Us
\* ============================================================ */

/* Contact Us */
.contact_us_title h3 { margin-top: 104px; }

.contact_us_title .hr_content,
.contact_us_title .hr_points { background: #ccdb38; }

.contact_us_title p { margin-bottom: 68px; opacity: 0.65; }

.contact_form { margin-bottom: 148px; }

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form input[type="submit"] { width: 255px; height: 50px; background: #ffffff; border: 2px solid #ccdb38; border-radius: 50px; font-size: 14px; color: #ffffff; text-align: center; }

.contact_form input[type="submit"] { font-weight: 700; background: #ffc0a5; cursor: pointer; border: 2px solid #ffc0a5; }

.contact_form input[type="text"] { margin-bottom: 20px; }

.contact_form textarea { width: 540px; height: 120px; background: #ffffff; border: 2px solid #ccdb38; border-radius: 25px; color: #ffffff; font-size: 14px; padding: 10px; margin: 0 30px; resize: none; }

.contact_form::placeholder { color: #ffffff; font-size: 14px; font-weight: 100; }
.contact_form textarea::placeholder { font-family:'Raleway',sans-serif; text-align: center; padding-top: 40px; }

@media screen and (max-width: 1024px) { 
  .contact_form input[type="text"],
  .contact_form input[type="email"],
  .contact_form input[type="submit"] { font-size: 12px; }
  .contact_form textarea { width: 440px; font-size: 12px; }
  .contact_form { margin-bottom: 128px; }
}
@media screen and (max-width: 768px) { 
  form { flex-direction: column; }
  .contact_form textarea { margin: 20px 0; }
  .contact_form { margin-bottom: 108px; }
}
@media screen and (max-width: 425px) { 
  .contact_us_title h3 { margin-top: 84px; }
  .contact_us_title p { margin-bottom: 38px; opacity: 0.65; }
  .contact_form textarea { width: 410px; }
  .contact_form { margin-bottom: 88px; }
}

/* ============================================================ *\
	XVI.  Footer
\* ============================================================ */

/* Footer Social */
.social_bottom ul { width: 579px; margin: 94px 0 45px 0; justify-content: space-around; }

.social_bottom li { font-size: 40px; color: #ffffff; opacity: 0.41; transition: all 0.3s ease; }
.social_bottom li:hover { transform: scale(1.1); opacity: 1; }

/* Copy */
.copyright { font-size: 11px; line-height: 22px; margin-bottom: 64px; font-weight: 700; color: #ffffff; }

@media screen and (max-width: 1024px) { 
  .social_bottom ul { margin: 74px 0 35px 0; }
  .social_bottom li { font-size: 30px; }
}
@media screen and (max-width: 768px) { 
  
}
@media screen and (max-width: 425px) { 
  .social_bottom ul { width: 410px; margin: 64px 0 30px 0; }
  .social_bottom li { font-size: 20px; }
  .copyright { font-size: 8px; margin: 17px 0 12px 0; }
}

/* ============================================================ *\
	XVII.  Fonts - Fontello
\* ============================================================ */

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?22181738');
  src: url('../fonts/fontello.eot?22181738#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?22181738') format('woff2'),
       url('../fonts/fontello.woff?22181738') format('woff'),
       url('../fonts/fontello.ttf?22181738') format('truetype'),
       url('../fonts/fontello.svg?22181738#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?39702394#fontello') format('svg');
  }
}
*/
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /* margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-eye:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-search_1:before { content: '\e803'; } /* '' */
.icon-search_2:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-heart-empty:before { content: '\e808'; } /* '' */
.icon-comment_1:before { content: '\e809'; } /* '' */
.icon-comment_2:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */